@charset "utf-8";

// Custom variables
@font-face {
  font-family: "Satisfy";
  src: url("../../static/Satisfy/Satisfy-Regular.ttf") format("tff");
}

$title_underline_color: #d31515;

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}px !important;
    }
    .p-#{$space} {
        padding: #{$space}px !important;
    }
}

@import "~bulma/bulma.sass";

.burger-line {
  height: 2px !important;
}

.hero-body::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.hero-body {
  position: relative;
}

#menu-picture {
  background-image: url("/drink_glasses_clash_full.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 260px;
  height: 500px;

  @media (max-width: $widescreen) {
    background-image: url("/drink_glasses_clash_mid.jpg");
    height: 380px;
  }

  @media (max-width: $tablet) {
    background-image: url("/drink_glasses_clash_small.jpg");
    height: 260px;
  }
}

#about-picture {
  background-image: url("/drink_glasses_clash_full.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 260px;
  height: 500px;

  @media (max-width: $widescreen) {
    background-image: url("/drink_glasses_clash_mid.jpg");
    height: 380px;
  }

  @media (max-width: $tablet) {
    background-image: url("/drink_glasses_clash_small.jpg");
    height: 260px;
  }
}

.arrow-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  text-align: center;
}

.divider {
  padding: 20px !important;
}

.contact-info-label {
  font-weight: bold;
}

footer {
  background-color: #ffffff !important;
}

.columns {
  margin: 0 auto !important;
}
.navbar-burger span {
  height: 2px !important;
}
.navbar-burger span:nth-child(1) {
  top: calc(50% - 7px) !important;
}
.navbar-burger span:nth-child(3) {
  top: calc(50% + 5px) !important;
}
.picture-rounded {
  border-radius: 6px;
}

.reverse-column {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.top-side-rounded {
  border-radius: 6px 6px 0 0;
}

.has-custom-font {
  font-family: "Satisfy";
}

.big-title {
  @extend .is-size-1;
  font-family: "Satisfy";
  // @media (max-width: $tablet) {
    
  // }
}

#video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#hero-video {
  width: 100%;
}

#video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}